body {
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: black;
    
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(224, 192, 5);
    border: 7px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: rgb(224, 192, 5);
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    
    
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0px;
    border-radius: 0px;
}

.pinky {
    background-color: pink;
    border: 0px;
    border-radius: 0px;
}

.inky {
    background-color: cyan;
    border: 0px;
    border-radius: 0px;
}

.clyde {
    background-color: orange;
    border: 0px;
    border-radius: 0px;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}

#score {
    background-color: black;
    color: white
}

h3 {
    color: white;
}
